<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission To Mars</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <br/>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
        </div>
        <!-- Mars News Section -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header mars-card-header ">Latest Mars News <a class="btn btn-dark btn-sm mars-update-button" href="/scrape" role="button">Update</a></h5>
                    <div class="card-body mars-card-body">
                        <h5 class="card-title">{{ mars_data.news.title }}</h5>
                        <p class="card-text">{{ mars_data.news.content }}</p>
                        <p class="card-text">{{ mars_data.news.datetime }}</p>
                    </div>
                </div>
                <p></p>
            </div>            
        </div>
        <!-- Mars Featured Image and Facts Table Section --> 
        <div class="row">
            <!-- Mars Featured Image -->
            <div class="col-md-7">
                <div class="card mars-featured-image-container">
                    <h5 class="card-header mars-card-header">Featured Mars Image <a class="btn btn-dark btn-sm mars-update-button" href="/scrape" role="button">Update</a></h5>
                    <div class="card-body mars-card-body mars-featured-image-container">
                       <p>{{ mars_data.featured_image.text }}</p>
                       <p id="mars-image-datetime">{{ mars_data.featured_image.datetime }}</p>
                        <img 
                            src="{{ mars_data.featured_image.img_url }}"
                            class="img-responsive mars-featured-image-container"
                            title="Featured Mars Image"
                            alt="Featured Mars Image"
                            id="featured-mars-image"
                        />
                    </div>
                </div>
            </div>
            <!-- Mars Facts -->
            <div class="col-md-5">
                <div class="card">
                    <h5 class="card-header mars-card-header">Mars Facts</h5>
                    <!-- ***** Added bootstrap table ***** -->
                    <div class="card-body mars-card-body">
                        <table class="table mars-table">
                        <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for mars_fact in mars_data.facts %}
                            <tr>
                                <th scope="row">{{mars_fact["Description"]}}</th>
                                <td>{{mars_fact["Value"]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <br/> <!-- Adding space between sections-->
        <div class="row">
            <div class="col-md-1">
                <!-- ***** Added bootstrap button link to view all hemisphere full images ***** -->
                <!-- Disable button if there is no mars hemisphere data -->
                <a  {% if mars_data is not none and mars_data.hemispheres|length > 0 %} href="/hemispheres" {% endif %} class="btn btn-sm btn-dark">
                    See Full Images of Mars' Hemispheres
                </a>
            </div>
        </div>
        <br/> <!-- Adding space between sections-->
        <!-- Mars Hemisphere Image Section -->
        <div class="row" id="mars-hemisphere-images">
            <!-- One Mars Hemisphere Image Section -->
            {% if mars_data is not none and mars_data.hemispheres|length > 0 %}
            {%for mars_hemisphere in mars_data.hemispheres %}

            <div class="col-md-3" id="hemisphere{{ index }}">
                <!-- ***** Added bootstrap card container ***** -->
                <div class="card">
                    <div class="card-header mars-card-header mars-hemi-header">
                        {{ mars_hemisphere.title }}
                    </div>
                    <div class="card-body mars-card-body">
                        <img  class="img-responsive img-thumbnail card-img-top" 
                            src="{{ mars_hemisphere.img_url }}" 
                            title="{{ mars_hemisphere.description }}"
                            alt="{{ mars_hemisphere.title }}"
                        />
                    </div>
                </div>
            </div>
            {%endfor%}
            {% endif %}
        </div>
    </div>
    <br/> <!-- Adding space at the bottom of the page -->
    <br/>
</body>
</html>