<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission To Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-left">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
            <!-- Mars News -->
            <div class="row" id="mars-news">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="media-heading">Latest Mars News</h2>
                            <h3 class="media-heading">{{mars.news_title}}</h3>
                            <p>{{ mars.news_paragraph }}</p>
                        </div>
                    </div>
               </div>            
            </div>
            <!-- Section for Featured Image and Facts table -->
            <div class="row" id="mars-featured-image">
                <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <!-- if images is False/None/non-existent, then default to error message -->
                    <img 
                         src="{{ mars.featured_image | default('static/images/error.png', true) }}" 
                         class="img-responsive"
                         alt="Featured Mars Image"
                    />
                </div>
                <!-- Mars Facts -->
                <div class="col-md-4">
                    <h4>Mars Facts</h4>
 
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for mars_fact in mars.facts %}
                            <tr>
                                <td>{{mars_fact["Description"]}}</td>
                                <td>{{mars_fact["Value"]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="mars-hemisphere-images">
                {%for mars_hemisphere_dict in mars.hemispheres%}
                <div class="col-md-3">
                    <h4>{{ mars_hemisphere_dict["title"] }}</h4>
                    <!-- if images is False/None/non-existent, then default to error message -->
                    <img 
                         src="{{ mars_hemisphere_dict['img_url'] | default('static/images/error.png', true) }}" 
                         class="img-responsive img-thumbnail"
                         alt="Responsive image"
                    />
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>