<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission To Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
        </div>
        <!-- Mars News Section -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h3 class="media-heading">{{mars.news_title}}</h3>
                        <!-- ***** Added bootstrap block quote ***** -->
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ mars.news_paragraph }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>            
        </div>
        <!-- Mars Featured Image and Facts Table Section -->
        <div class="row" id="mars-featured-image">
            <!-- Mars Featured Image -->
            <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <!-- if images is False/None/non-existent, then default to error message -->
                <img 
                        src="{{ mars.featured_image }}" 
                        class="img-responsive"
                        title="Featured Mars Image"
                        alt="Featured Mars Image"
                />
            </div>
            <!-- Mars Facts -->
            <div class="col-md-4">
                <h2>Mars Facts</h2>
                <!-- ***** Added bootstrap table ***** -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for mars_fact in mars.facts %}
                        <tr>
                            <th scope="row">{{mars_fact["Description"]}}</th>
                            <td>{{mars_fact["Value"]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br/> <!-- Adding space between sections-->
        <br/>
        <!-- Mars Hemisphere Image Section -->
        <div class="row" id="mars-hemisphere-images">
            <!-- One Mars Hemisphere Image Section -->
            {%for mars_hemisphere_dict in mars.hemispheres %}
            <div class="col-md-3">
                <!-- ***** Added bootstrap card container ***** -->
                <img  class="img-responsive img-thumbnail card-img-top" 
                      src="{{ mars_hemisphere_dict['img_url'] }}" 
                      title="{{ mars_hemisphere_dict['description'] }}"
                      alt="{{ mars_hemisphere_dict['title'] }}"
                />
                <h5 class="card-title">{{ mars_hemisphere_dict["title"] }}</h5>
             </div>
            {%endfor%}
        </div>
        <!-- ***** Added bootstrap button link to view all hemisphere full images ***** -->
        <a href="/mars_hemispheres" class="btn btn-primary">See Full Images of Mars' Hemispheres</a>
    </div>
    <br/> <!-- Adding space at the bottom of the page -->
    <br/>
</body>
</html>