<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars' Hemispheres</title>
    <link href="https://getbootstrap.com//docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h2>Mars' Hemispheres</h2>
      <p>
      <a class="btn btn-primary btn-lg" href="/" role="button">Mars Homepage</a>
      </p>
    </div>
    <div class="row align-items-center">
      <div class="col-xl-2">
      </div>
      <div class="col-xl-8" >
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#abcd" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner">
            {%for index in range(mars_hemispheres|length) %}
            <div class="carousel-item {{ 'active' if index == 0 else '' }}">
              <img  class="d-block w-100"
                    src="{{ mars_hemispheres[index]['img_url'] }}" 
                    title="{{ mars_hemispheres[index]['title'] }}" 
                    alt="{{ mars_hemispheres[index]['title'] }}"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ mars_hemispheres[index]['title'] }}</h5>
                <p style="font-size:small">{{ mars_hemispheres[index]['description'] }}</p>
              </div>
            </div>
            {%endfor%}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>